.logo-container {
  width: 120px;
  background-color: rgba(0, 0, 0, 0.9);
  padding-top: 20px;
  border-top: none;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background-image: url('https://www.transparenttextures.com/patterns/brilliant.png');
}

.logo {
  width: 100%;
  filter: invert(0.95);
}

.name {
  margin-bottom: 5px;
  @media (max-width: 440px) {
    font-size: 40px;
  }
}

.title-container {
  display: flex;
}

.title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 24px;
  font-style: italic;
  color: var(--secondary-font-color);
  border-bottom: 1px dotted rgba(0, 0, 0, 0.5);
  @media (max-width: 400px) {
    font-size: 20px;
  }
}

.title-separator {
  font-size: 15px;
  display: inline-block;
  position: relative;
  top: -3px;
}

.social-links-container {
  display: flex;
  justify-content: space-between;
  max-width: 220px;
  margin-bottom: 10px;
  .social-link {
    width: 34px;
    height: 34px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    border: 5px solid transparent;
    border-radius: 100%;
    opacity: 0.5;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    &:hover {
      opacity: 0.75;
    }
    &.email {
      background-image: url('../../assets/email.svg');
    }
    &.github {
      background-image: url('../../assets/github.svg');
    }
    &.codepen {
      background-image: url('../../assets/codepen.svg');
    }
    &.medium {
      background-image: url('../../assets/medium.svg');
    }
    &.twitter {
      background-image: url('../../assets/twitter.svg');
    }
  }
}
