<header>
  <div class="logo-container">
    <img class="logo" src="../assets/swanson-logo.png" alt="" />
  </div>
  <div class="name-container">
    <h1 class="name">SEAN SWANSON</h1>
  </div>
  <div class="title-container">
    <p class="title">
      Web Developer <span class="title-separator">❖</span> Helpful Human
    </p>
  </div>
  <div class="social-links-container">
    <a
      href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#115;&#101;&#97;&#110;&#99;&#115;&#119;&#97;&#110;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;"
      class="social-link email"
    ></a>
    <a href="https://github.com/seanthaswan/" class="social-link github"></a>
    <a href="https://codepen.io/seanthaswan" class="social-link codepen"></a>
    <a href="https://medium.com/@seancswan" class="social-link medium"></a>
    <a
      href="https://www.linkedin.com/in/seancswanson/"
      class="social-link linkedin"
    ></a>
    <a
      href="https://twitter.com/sean_sonofswan"
      class="social-link twitter"
    ></a>
  </div>
</header>
