<div class="projects-container">
  <h2 class="title">Projects</h2>
  <h4 class="title">Projects</h4>
  <div class="project">
    <div class="project-screenshot-container">
      <img
        src="../../../assets/fuji-sm.png"
        alt="The Majesty of The 36 Views of Mt. Fuji"
      />
    </div>
    <h3 class="project-title">The Majesty of The 36 Views of Mt. Fuji</h3>
    <p></p>
  </div>
  <div class="project-item card">
    <div class="project-top">
      <img
        class="project-screenshot"
        src="../../../assets/chairman-sm.png"
        alt=""
      />
      <div class="project-title">
        Chairman of the Board
      </div>
    </div>
    <div class="project-bottom">
      <div class="project-description">
        A retro front-end corporate ladder simulator game. I reimagined a game
        that my father had programmed in basic in the 80's to bring it up to
        modern specs!
      </div>
      <ul class="project-list project-tech">
        <li class="tech-item">Game</li>
        <li class="tech-item">JavaScript</li>
        <li class="tech-item">jQuery</li>
        <li class="tech-item">HTML</li>
        <li class="tech-item">CSS</li>
      </ul>
      <ul class="project-list project-demo">
        <a
          href="//seancswanson.com/chairman-of-the-board"
          class="project-demo-item clickable"
          ><li>Live</li></a
        >
        <a
          href="https://github.com/seanthaswan/chairman-of-the-board"
          class="project-demo-item clickable"
          ><li>GitHub</li></a
        >
      </ul>
    </div>
  </div>

  <!-- thirty-six -->
  <div class="project-item card">
    <div class="project-top">
      <img class="project-screenshot" src="../../../assets/" alt="" />
    </div>
    <div class="project-bottom">
      <div class="project-description">
        An interactive gallery of the most iconic collection of Japanese
        <div class="project-title">
          The Majesty of the Thirty-Six Views of Mt. Fuji
        </div>
        woodblock art by Katsushika Hokusai... in high-resolution!
      </div>
      <ul class="project-tech">
        <li class="tech-item">JavaScript</li>
        <li class="tech-item">ES6</li>
        <li class="tech-item">Openseadragon.js</li>
        <li class="tech-item">SVG.js</li>
        <li class="tech-item">HTML</li>
        <li class="tech-item">CSS</li>
      </ul>
      <ul class="project-list project-demo">
        <a
          href="https://majesty-of-36-views.glitch.me/"
          class="project-demo-item clickable"
          ><li>Live</li></a
        >
        <a
          href="https://github.com/seanthaswan/osd-woodblocks"
          class="project-demo-item clickable"
          ><li>GitHub</li></a
        >
      </ul>
    </div>
  </div>

  <!-- mndfll -->
  <div class="project-item card">
    <div class="project-top">
      <img
        class="project-screenshot"
        src="../../../assets/mndfll-sm.png"
        alt=""
      />
      <div class="project-title">
        Mndf.ll
      </div>
    </div>
    <div class="project-bottom">
      <div class="project-description">
        A full-stack daily journaling & goal tracking app featuring user auth
        and database utilization.
      </div>
      <ul class="project-tech">
        <li class="tech-item">JavaScript</li>
        <li class="tech-item">Node.js</li>
        <li class="tech-item">Express.js</li>
        <li class="tech-item">HTML</li>
        <li class="tech-item">CSS</li>
      </ul>
      <ul class="project-list project-demo">
        <a
          href="https://mndfll-js.herokuapp.com/"
          class="project-demo-item clickable"
          ><li>Live</li></a
        >
        <a
          href="https://github.com/seanthaswan/mndfll"
          class="project-demo-item clickable"
          ><li>GitHub</li></a
        >
      </ul>
    </div>
  </div>

  <!-- hue -->
  <div class="project-item card">
    <div class="project-top">
      <img
        class="project-screenshot"
        src="../../../assets/spatium-sm.png"
        alt=""
      />
      <div class="project-title">
        Spatium Laboratorium
      </div>
    </div>
    <div class="project-bottom">
      <div class="project-description">
        Experiments in space & time... my interactive laboratory exploring 3D
        JavaScript and WebGL concepts abstracted by Three.js.
      </div>
      <ul class="project-tech">
        <li class="tech-item">JavaScript</li>
        <li class="tech-item">Three.js</li>
        <li class="tech-item">animation</li>
        <li class="tech-item">HTML</li>
        <li class="tech-item">CSS</li>
      </ul>
      <ul class="project-list project-demo">
        <a
          href="https://spatium-laboratorium.glitch.me"
          class="project-demo-item clickable"
          ><li>Live</li></a
        >
        <a
          href="https://github.com/seanthaswan/spatium-laboratorium"
          class="project-demo-item clickable"
          ><li>GitHub</li></a
        >
      </ul>
    </div>
  </div>

  <!-- hue -->
  <div class="project-item card">
    <div class="project-top">
      <img class="project-screenshot" src="../../../assets/hue-sm.png" alt="" />
    </div>
    <div class="project-bottom">
      <div class="project-description">
        Built by two others and myself in a week-long sprint during my bootcamp:
        <div class="project-title">
          Hue
        </div>
        A MERN-stack color detection utility for designers featuring cloud
        uploading & asynchronous operations.
      </div>
      <ul class="project-tech">
        <li class="tech-item">JavaScript</li>
        <li class="tech-item">React.js</li>
        <li class="tech-item">Node.js</li>
        <li class="tech-item">Express.js</li>
        <li class="tech-item">MongoDB</li>
        <li class="tech-item">HTML</li>
        <li class="tech-item">CSS</li>
      </ul>
      <ul class="project-list project-demo">
        <a
          href="https://use-hue.herokuapp.com"
          class="project-demo-item clickable"
          ><li>Live</li></a
        >
        <a
          href="https://github.com/seanthaswan/hue-project3"
          class="project-demo-item clickable"
          ><li>GitHub</li></a
        >
      </ul>
    </div>
  </div>

  <!-- platformy -->
  <div class="project-item card">
    <div class="project-top">
      <img
        class="project-screenshot"
        src="../../../assets/platformy-sm.png"
        alt=""
      />
      <div class="project-title">
        Platformy Onion
      </div>
    </div>
    <div class="project-bottom">
      <div class="project-description">
        Dodge, jump, shoot for the stars as Onion! Be the Onion... Live the
        Onion! A game built with Phaser 3, a game framework for the web.
      </div>
      <ul class="project-tech">
        <li class="tech-item">JavaScript</li>
        <li class="tech-item">ES6</li>
        <li class="tech-item">Phaser.js</li>
        <li class="tech-item">HTML</li>
        <li class="tech-item">Canvas</li>
        <li class="tech-item">CSS</li>
      </ul>
      <ul class="project-list project-demo">
        <a
          href="https://platformy-allium.glitch.me/"
          class="project-demo-item clickable"
          ><li>Live</li></a
        >
        <a
          href="https://github.com/seanthaswan/platformy-onion"
          class="project-demo-item clickable"
          ><li>GitHub</li></a
        >
      </ul>
    </div>
  </div>

  <!-- chroma -->
  <div class="project-item card">
    <div class="project-top">
      <img
        class="project-screenshot"
        src="../../../assets/chroma-sm.png"
        alt=""
      />
      <div class="project-title">
        Chroma Chameleon
      </div>
    </div>
    <div class="project-bottom">
      <div class="project-description">
        A front-end painting app resembling the nostalgic simplicity of
        mspaint... soon to add full shape, importing, selection functionalities.
      </div>
      <ul class="project-tech">
        <li class="tech-item">JavaScript</li>
        <li class="tech-item">HTML</li>
        <li class="tech-item">Canvas</li>
        <li class="tech-item">CSS</li>
      </ul>
      <ul class="project-list project-demo">
        <a
          href="https://chroma-chameleon.glitch.me/"
          class="project-demo-item clickable"
          ><li>Live</li></a
        >
        <a
          href="https://github.com/seanthaswan/chroma-chameleon"
          class="project-demo-item clickable"
          ><li>GitHub</li></a
        >
      </ul>
    </div>
  </div>

  <!-- pigment -->
  <div class="project-item card">
    <div class="project-top">
      <img class="project-screenshot" src="../../../assets/pig-sm.png" alt="" />
    </div>
    <div class="project-bottom">
      <div class="project-description">
        A front-end color guessing game to help sharpen your eye for color! Soon
        <div class="project-title">
          Pigmentation Presumption
        </div>
        to add hex code challenge for the elites.
      </div>
      <ul class="project-tech">
        <li class="tech-item">Game</li>
        <li class="tech-item">JavaScript</li>
        <li class="tech-item">HTML</li>
        <li class="tech-item">CSS</li>
      </ul>
      <ul class="project-list project-demo">
        <a
          href="https://pigmentation-presumption.glitch.me/"
          class="project-demo-item clickable"
          ><li>Live</li></a
        >
        <a
          href="https://github.com/seanthaswan/pigmentation-presumption"
          class="project-demo-item clickable"
          ><li>GitHub</li></a
        >
      </ul>
    </div>
  </div>

  <!-- poke -->
  <div class="project-item card">
    <div class="project-top">
      <img
        class="project-screenshot"
        src="../../../assets/poke-sm.png"
        alt=""
      />
      <div class="project-title">
        PokéDex
      </div>
    </div>
    <div class="project-bottom">
      <div class="project-description">
        A PEN-stack pokèmon encyclopedia as a study of restful api architecture
        and artistic design.
      </div>
      <ul class="project-tech">
        <li class="tech-item">JavaScript</li>
        <li class="tech-item">Node.js</li>
        <li class="tech-item">Express.js</li>
        <li class="tech-item">PostgreSQL</li>
        <li class="tech-item">HTML</li>
        <li class="tech-item">CSS</li>
      </ul>
      <ul class="project-list project-demo">
        <a
          href="https://github.com/seanthaswan/express-pokedex"
          class="project-demo-item clickable"
          ><li>GitHub</li></a
        >
      </ul>
    </div>
  </div>
</div>
