<div class="projects-container">
  <h2 class="title">Projects</h2>
  <h4 class="subtitle">
    For more experiments and one-off explorations, take a look at my
    <a href="https://github.com/seanthaswan/">GitHub</a>.
  </h4>
  <div class="project-items-container">
    <div class="project-item elevated" *ngFor="let project of projects">
      <div class="top">
        <div class="screenshot-container">
          <img class="screenshot" src="{{ project.screenshotPath }}" alt="" />
        </div>
        <div class="title-container">
          <h3 class="project-title">
            {{ project.title }}
          </h3>
        </div>
      </div>
      <div class="bottom">
        <div class="description">
          <p>{{ project.description }}</p>
        </div>
        <ul class="tech-list">
          <li class="tech-item" *ngFor="let tech of project.tech">
            {{ tech }}
          </li>
        </ul>
        <ul class="demo-list">
          <a
            href="{{ project.liveUrl }}"
            *ngIf="project.liveUrl !== ''"
            class="demo-item elevated"
          >
            <li>Live</li>
          </a>
          <a href="project.githubUrl" class="demo-item elevated">
            <li>GitHub</li>
          </a>
        </ul>
      </div>
    </div>
    <div class="project-item card empty">
      <p>✨ ...and much more in the works. ✨</p>
    </div>
  </div>
</div>
