.project-items-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.title {
    margin-bottom: 0;
}

.project-item {
    display: flex;
    flex-direction: column;
    width: 48%;
    padding: 20px;
    border: 1px solid black;
    margin-bottom: 20px;
    .screenshot-container {
        width: 150px;
        margin: 0 auto;
        .screenshot {
            width: 100%;
        }
    }
    .project-title {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 75%;
        min-height: 70px;
        margin: 15px auto;
    }
}