<div class="app-container">
  <header>
    <div class="logo-container">
      <img class="logo" src="../assets/swanson-logo.png" alt="" />
    </div>
    <div class="name-container"><h1 class="name">SEAN SWANSON</h1></div>
    <div class="title-container">
      <p class="title">
        Web Developer <span class="title-separator">❖</span> Helpful Human
      </p>
    </div>
    <div class="social-links-container">
      <a href="#" class="social-link email"></a>
      <a href="#" class="social-link github"></a>
      <a href="#" class="social-link codepen"></a>
      <a href="#" class="social-link medium"></a>
      <a href="#" class="social-link twitter"></a>
    </div>
  </header>
</div>
