<div class="education-container">
  <h2 class="title" id="cv">Curriculum Vitae</h2>
  <h4>My most recent development work and academic experience.</h4>
  <h4>
    Click <a href="../../../assets/sean-swanson-resume-jan-2020.pdf">HERE</a> to
    download my résumé.
  </h4>
  <div class="cv-item elevated" *ngFor="let item of cvItems">
    <div class="top">
      <p class="top-heading">{{ item.organization }}</p>
      <h3 class="top-heading">{{ item.role }}</h3>
      <p class="top-heading">{{ item.dateRange }}</p>
    </div>
    <div class="bottom">
      <p>{{ item.description }}</p>
      <p class="tech-description" *ngIf="techDescription !== ''">
        {{ item.techDescription }}
      </p>
      <ul class="tech-list">
        <li class="tech-item" *ngFor="let tech of item.tech">{{ tech }}</li>
      </ul>

      <p class="tech-description" *ngIf="toolsDescription !== ''">
        {{ item.toolsDescription }}
      </p>
      <ul class="tech-list" *ngIf="item.tools !== []">
        <li class="tech-item" *ngFor="let tool of item.tools">{{ tool }}</li>
      </ul>
    </div>
  </div>
</div>
