<div class="bio-container elevated">
  <div class="bio">
    <p>
      Hey there! I'm a web developer based in Seattle, WA. I'm a lifelong
      student and lover of learning, in other words, a philomath. I relish in
      the process of achieving an interdisciplinary understanding of the world
      as it ultimately makes me a more well-rounded and empathetic designer of
      systems.
    </p>
    <p>
      Through web development, dancing, writing, painting watercolor, long
      walks, reading Eastern philosophy and anything fantasy or sci-fi I become
      equipped with the state of mind critical to solving problems.
    </p>
    <p>
      As a natural teacher and leader, I enjoy stepping up to share my knowledge
      with my peers and love empowering people to find their voice.
    </p>
    <p>
      From this page you can view my <a href="#proj">Projects</a>,
      <a href="#cv">CV</a>, or
      <a href="../../../assets/sean-swanson-resume-jan-2020.pdf"
        >download my résumé</a
      >.
    </p>
    <p>
      Care for a chat? Drop me a line:
      <a
        href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#115;&#101;&#97;&#110;&#99;&#115;&#119;&#97;&#110;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;"
        >&#115;&#101;&#97;&#110;&#99;&#115;&#119;&#97;&#110;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;</a
      >
    </p>
  </div>
</div>
