<div class="bio-container">
  <div class="bio">
    <p>
      Hey there! I'm a web developer based in Seattle, WA. As a philomath, I
      relish in the process of achieving an interdisciplinary understanding of
      the world.
    </p>
    <p>
      Through web development, dancing, painting watercolor landscapes, long
      walks, reading Eastern philosophy and anything fantasy/sci-fi I become
      equipped with the state of mind critical to solving problems.
    </p>
    <p>
      As a natural teacher and leader, I step up to share my knowledge with my
      peers and love empowering people to find their voice.
    </p>
    <p>
      Care for a chat? Drop me a line:
      <a
        href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#115;&#101;&#97;&#110;&#99;&#115;&#119;&#97;&#110;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;"
        >&#115;&#101;&#97;&#110;&#99;&#115;&#119;&#97;&#110;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;</a
      >
    </p>
  </div>
</div>
