/* You can add global styles to this file, and also import other style files */

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    background-color: #fafafa;
    background-image: url('https://www.transparenttextures.com/patterns/brilliant.png');
}

h1 {
    font-family: 'Old Standard TT', Serif;
    font-size: 48px;
}

p {
    font-family: 'Old Standard TT', Serif;
    font-size: 18px;
}

// .card {
//   background-color: #fdfdf0;
//   padding: 10px;
//   box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
//   transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
// }